In [ ]:
!unzip ./ks-projects-201801.csv.zip

Archive:  ./ks-projects-201801.csv.zip
  inflating: ks-projects-201801.csv

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('ks-projects-201801.csv')
data.head(100)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1000386601,Los Angeles International Student Film Festival,Film & Video,Film & Video,USD,2014-04-03,1500.0,2014-03-04 17:24:51,1932.99,successful,29,US,1932.99,1932.99,1500.00
96,1000389241,Bob Contemplates Ending It All,Shorts,Film & Video,USD,2014-01-27,3000.0,2013-12-18 20:54:02,3755.00,successful,52,US,3755.00,3755.00,3000.00
97,1000392220,The Girls Bathroom,Webseries,Film & Video,USD,2011-07-31,2000.0,2011-07-06 16:35:45,2252.99,successful,45,US,2252.99,2252.99,2000.00
98,100039820,Best Spray Bottle Ever - SureShot,Gadgets,Technology,CAD,2015-03-07,25000.0,2015-02-05 16:57:21,3.00,failed,3,CA,2.41,2.36,19632.48
99,1000399155,New Lasagna,Restaurants,Food,USD,2014-10-17,5000.0,2014-08-18 11:13:15,0.00,failed,0,US,0.00,0.00,5000.00

In [ ]:
mindate = data['launched'].min()
maxdate = data['launched'].max()
print(f' the earliest date is {mindate} and the latest date is {maxdate}')
# remove the outliers from the dataset such as the 1970 dat

 the earliest date is 1970-01-01 01:00:00 and the latest date is 2018-01-02 15:02:31

In [ ]:
data['name'].count()

378657